@import url('https://fonts.googleapis.com/css?family=Ovo&display=swap');
@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com" crossorigin');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --radius: 8px;
  --border: #000000;
  --text: #111;
  --muted: #666;
  --bg: #fff;
  --btn: #111;
  --btnText: #fff;
  font-family: "Playfair Display", sans-serif;
}

* { box-sizing: border-box; }

.auth-wrap {
  min-height: 100vh;
  display: grid;
  place-items: start center;
  padding-top: 5rem;
  background: #fafafa;
  color: var(--text);
}

h2{
  font-family: "Playfair Display";
}

.auth-subtitle {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 4rem;
  line-height: 1rem;
  font-family: "Playfair Display";
  color: #000000;
}

.auth-card {
  width: min(530px, 82vw);
  background: var(--bg);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: 30px 60px 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
  margin-bottom: 150px;
}

.auth-title {
  font-size: 1.7rem;
  text-align: center;
  margin: 0 0 16px;
  font-family: "Playfair Display", sans-serif;
  color: #000000;
}

.auth-grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.auth-input, .auth-button, .auth-linkbtn {
  font-family: sans-serif;
  height: 36px;
  border-radius: 6px;
}

.auth-input {
  width: 100%;
  background: #fafafa;
  border: 1px solid var(--border);
  padding: 0 10px;
  outline: none;
  color: #1C302F;
  border-color: #a09f9f;

}

.auth-button {
  width: 100%;
  border: 0;
  color: var(--btnText); 
  cursor: pointer;
  font-weight: 500;
  background:#1C302F;
  transition: background 0.2s ease;

}

.auth-button:hover {
  background: #000000; 
}

.auth-row {
  display: grid;
  gap: 10px;
  margin-bottom: 10px;
  color: #000000;
}

.auth-footer {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  color: var(--muted);
  margin-top: 8px;
  font-size: .95rem;
}

.auth-linkbtn {
  border: 0;
  padding: 0 12px;
  color: var(--btnText);
  cursor: pointer;
  background:#1C302F;
    transition: background 0.2s ease;
}

.auth-linkbtn:hover {
  background: #1C5C59;
}

.auth-logo {
  width: 100px;
  height: auto;
  margin: 0 auto 8px;
}

.auth-logo img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 6px; 
}

.auth-actions {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px;
  margin-top: 6px;
}

.auth-button.secondary, .auth-linkbtn.secondary {
  background: #1C302F;
  border-color: #1C302F;
  color: #FFFFFF;
  border: 2px solid var(--border);
}

.auth-button:hover,
.auth-linkbtn:hover {
  background: #1C5C59;
}
