option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend/core/wsgi.py   # make sure this matches actual path

container_commands:
  01_migrate:
    command: "python backend/manage.py migrate --noinput"
    leader_only: true

  02_collectstatic:
    command: "python backend/manage.py collectstatic --noinput"
    leader_only: true
