container_commands:
  01_install_requirements:
    command: |
      echo "Installing Python packages..."
      source /var/app/venv/*/bin/activate
      pip install --upgrade pip
      pip install -r backend/requirements.txt

  02_collect_static:
    command: |
      echo "Collecting static files..."
      source /var/app/venv/*/bin/activate
      python backend/manage.py collectstatic --noinput

  03_migrate:
    command: |
      echo "Applying database migrations..."
      source /var/app/venv/*/bin/activate
      python backend/manage.py migrate --noinput
